<div class="container mt-5">
    <h1 class="text-center">Todo List</h1>
    <div class="row mt-5">
        <div class="col-3">
            <h3>New task</h3><app-task-form (onSave)="createTask($event)"></app-task-form>
        </div>
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <app-filter-buttons (onShowAll)="loadAllTasksAndUpdateCounters()" (onShowPending)="loadPendingTasks()" (onShowCompleted)="loadCompletedTasks()"></app-filter-buttons>
                </div>
                <div class="col">
                    <app-counters [totalTasks]="totalTasks" 
                    [completedTasks]="completedTasks" 
                    [pendingTasks]="pendingTasks"></app-counters>
                </div>
            </div>

            <div *ngFor="let task of tasks; let i = index">
                <app-task-card [task]="task" (delete)="removeTask(i)" (edit)="editTask($event)" (markAsComplete)="markTaskAsComplete(i)"
                    (markAsPending)="markTaskAsPending(i)"></app-task-card>
            </div>
        </div>

    </div>
    <div class="m-5">

    </div>

</div>