<div class="container mt-5">
    <h1 class="text-center">Todo List</h1>
    <div class="row mt-5">
        <div class="col-3"><h3>New task</h3><app-task-form></app-task-form></div>
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <app-filter-buttons></app-filter-buttons>
                </div>
                <div class="col">
                    <app-counters></app-counters>
                </div>
            </div>
            <div><app-task-card></app-task-card></div>
        </div>

    </div>
    <div class="m-5">

    </div>

</div>